
boto==2.38.0
chardet==2.3.0
click==6.7
configobj==5.0.6
deja-dup-caja==0.0.4
duplicity==0.7.6
Flask==1.0.2
folder-color-caja==0.0.79
folder-color-common==0.0.79
itsdangerous==0.24
Jinja2==2.10
lockfile==0.12.2
MarkupSafe==1.0
mate-menu==5.7.1
netifaces==0.10.4
pycrypto==2.6.1
pygobject==3.20.0
python-cloudfiles==1.7.10
python-xlib==0.14
pyxdg==0.25
requests==2.9.1
six==1.10.0
urllib3==1.13.1
Werkzeug==0.14.1
