body{
  font-family: sans-serif;
  background-color: black;
  color: white;
  margin: 0px 0px 0px 0px;
  width: 60%;
}

table, th, td{
  border: 1px solid #fff;
  text-align: center;
}

.navbar{
  height: 70px;
  margin: 0;
}
.navbar ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
.navbar li{
  float:left;
}
.navbar a{
  display:block;
  background-color: #555;
  margin: 10px;
  padding: 15px 20px 15px 20px;
  border-style: solid;
  border-color: #333;
  text-decoration: none;
  color: #fff;
}

input{
  padding: 10px;
}