
{% extends "base.html" %}

{% block title %} shoppingList {% endblock%}


{% block main %}

  <h1>Shopping list for today </h1>

  <table>
    <tr>
      <th> Request Time</th>
      <th> ID </th>
      <th> Item </th>
    </tr>
    {% for item in myList %}
    <tr>
      <td> {{ item[1] }} </td>
      <td> {{ item[0] }}</td>
      <td> {{ item[2] }} </td>
    </tr>
    {% endfor %}
  </table>
  <div> </div>

  <div>
    <h2> REMOVE ITEMS... </h2>
    <form action="/removeItem" method="post">
      <select name= "removeItem">
      {% for item in myList %}
        <option value="{{-item[0]-}}">{{-item[0]-}},&nbsp{{-item[2]-}}</option>
      {% endfor %}
      </select>
  </div>

    <br>
    <input type="submit">
  </form>

{% endblock %}
